/* .items-container li{
    background-color: aquamarine;
}

div>h4{
    color: brown;
} */

/* body>h4{
    color: red;
} */

/* ul>p{
   color: red; 
} */

/* h4+ul>p{
    background-color: aqua;
} */

/* .items-container+div p{
    background-color: red;
} */